<footer id="footer">
  <div class="container clearfix">
    <div class="muted links pull-left">
      <span class="sep">&middot;</span>
      <a href="https://github.com/SeavantUUz/kutoto_flask">代码</a>
      <span class="sep">&middot;</span>
      <a href="http://blog.kochiya.me">作者</a>
      <span class="sep">&middot;</span>
      <a href="https://github.com/pythoncn/june">june</a>
    </div>
    <p class="muted credit pull-right">
    Powered by <a href="http://blog.kochiya.me">AprocySanae</a>, And specal thanks to <a href="https://github.com/pythoncn/june">june</a>
    </p>
  </div>
</footer>