<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>浅间神社</title>
  </head>
<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-responsive.css') }}" />
<link rel="stylesheet" href="{{ url_for('static',filename='css/pygments.css') }}" />
<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}" />
<link rel="stylesheet" href="{{ url_for('static',filename='css/site.css') }}" />



<head>

<body>
  
      <script src="{{ url_for('static',filename='js/site.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.js') }}"></script>

    {% from "macro/ui.html" import nav%}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav-collapse collapse">
            {%- block nav %}
            {{ nav() }}
            {%- endblock %}
            {%- include "snippet/nav-dropmenu.html" %}
          </div>
        </div>
      </div>
    </div>

 <div id="wrap">
      <div class="main container">
        {% block main %}
        <div class="row-fluid">
          <div class="span8">
            {% block content %}{% endblock %}
          </div>
        </div>
        {% endblock %}
      </div>
    </div>
    {% block footer %}
    {% endblock %}

    {% block afterscript %}{% endblock %}
  </body>
</html>
